venv/
aceEnv/
.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
db.sqlite3
db.sqlite3-journal
media/
static/
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.idea/
.vscode/
*.swp
*.swo
node_modules/
